.signInButton {
    padding: 0.75rem 1.5rem;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s;
}

.signInButton:hover {
    background-color: #1d4ed8;
}

.userInfo {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.userName {
    font-family: monospace;
    background-color: var(--secondary);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.signOutButton {
    padding: 0.5rem 1rem;
    background-color: #dc2626;
    color: white;
    border-radius: 0.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}