.wrapper {
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--text);
  font-family: sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--secondary);
}

.auth {
    margin-bottom: 1rem;
}

.usageText {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.usageCount {
  font-weight: bold;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 72rem;
}

@media (min-width: 1024px) {
  .mainContent {
    flex-direction: row;
  }
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

@media (min-width: 1024px) {
    .sidebar {
        width: 33.333333%;
    }
}

.loadingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--text);
}

.signInWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--text);
}