.wrapper {
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.toolGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    width: 100%;
}

.toolButton {
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-weight: bold;
    text-transform: capitalize;
    transition: all 0.2s;
    background-color: #4b5563;
    color: #e5e7eb;
}

.toolButton:hover {
    background-color: #6b7280;
}

.toolButtonActive {
    background-color: #3b82f6;
    color: white;
}